<!-- Banner -->
	<section id="banner">
		<h2>This is Interphase</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<ul class="actions">
			<li>
				<a href="#" class="button big">Learn More</a>
			</li>
		</ul>
	</section>