<!-- Two -->
	<section id="two" class="wrapper style2 align-center">
		<div class="container">
			<header>
				<h2>Lorem ipsum dolor sit</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, autem.</p>
			</header>
			<div class="row">
				{% for post in site.posts %}
				<section class="feature 6u 12u$(small)">
					<img class="image fit" src="{{ site.baseurl }}/{{ post.image_path }}" alt="" />
					<h3 class="title">{{ post.title }}</h3>
					<p>{{ post.short_description }}</p>
				</section>
				{% endfor %}
			</div>
			<footer>
				<ul class="actions">
					<li>
						<a href="#" class="button alt big">Learn More</a>
					</li>
				</ul>
			</footer>
		</div>
	</section>