<!-- Footer -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<section class="4u 6u(medium) 12u$(small)">
					<h3>Lorem ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, cumque!</p>
					<ul class="alt">
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">Quod adipisci perferendis et itaque.</a></li>
						<li><a href="#">Itaque eveniet ullam, veritatis reiciendis?</a></li>
						<li><a href="#">Accusantium repellat accusamus a, soluta.</a></li>
					</ul>
				</section>
				<section class="4u 6u$(medium) 12u$(small)">
					<h3>Nostrum, repellat!</h3>
					<p>Tenetur voluptate exercitationem eius tempora! Obcaecati suscipit, soluta earum blanditiis.</p>
					<ul class="alt">
						<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
						<li><a href="#">Id inventore, qui necessitatibus sunt.</a></li>
						<li><a href="#">Deleniti eum odit nostrum eveniet.</a></li>
						<li><a href="#">Illum consectetur quibusdam eos corporis.</a></li>
					</ul>
				</section>
				<section class="4u$ 12u$(medium) 12u$(small)">
					<h3>Contact Us</h3>
					<ul class="icons">
						{% if site.social_links.twitter_url and site.social_links.twitter_url != 'TWITTER_URL' %}
							<li><a href="{{ site.social_links.twitter_url }}" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
						{% endif %}
						{% if site.social_links.facebook_url and site.social_links.facebook_url != 'FACEBOOK_URL' %}
							<li><a href="{{ site.social_links.facebook_url }}" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
						{% endif %}
						{% if site.social_links.pinterest_url and site.social_links.pinterest_url != 'PINTEREST_URL' %}
							<li><a href="{{ site.social_links.pinterest_url }}" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
						{% endif %}
						{% if site.social_links.googleplus_url and site.social_links.googleplus_url != 'GOOGLEPLUS_URL' %}
							<li><a href="{{ site.social_links.googleplus_url }}" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
						{% endif %}
						{% if site.social_links.linkedin_url and site.social_links.linkedin_url != 'LINKEDIN_URL' %}
							<li><a href="{{ site.social_links.linkedin_url }}" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
						{% endif %}
					</ul>
					<ul class="tabular">
						<li>
							<h3>Address</h3>
							{{ site.social_links.address }}
						</li>
						<li>
							<h3>Mail</h3>
							{{ site.social_links.email_id }}
						</li>
						<li>
							<h3>Phone</h3>
							{{ site.social_links.phone_no }}
						</li>
					</ul>
				</section>
			</div>
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
				<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
				<li>Jekyll Template: <a href="http://saiashirwad.com">Sai Ashirwad Infomatia</a></li>
			</ul>
		</div>
	</footer>
