<meta charset="UTF-8">
	<title>{{ page.title }} - {{ site.title }}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	{% include scripts.html %}