<!-- Header -->
	<header id="header">
		<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/generic">Generic</a></li>
				<li><a href="{{ site.baseurl }}/elements">Elements</a></li>
			</ul>
		</nav>
	</header>
