<!--[if lte IE 8]><script src="{{ site.baseurl }}/bower_components/interphase/css/ie/html5shiv.js"></script><![endif]-->
	<script src="{{ site.baseurl }}/bower_components/interphase/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/bower_components/interphase/js/skel.min.js"></script>
	<script src="{{ site.baseurl }}/bower_components/interphase/js/skel-layers.min.js"></script>
	<script type="text/javascript">
		(function($) {

	skel.init({
		reset: 'full',
		breakpoints: {
			global: {
				href: '{{ site.baseurl }}/bower_components/interphase/css/style.css',
				containers: 1400,
				grid: { gutters: ['2em', 0] }
			},
			xlarge: {
				media: '(max-width: 1680px)',
				href: '{{ site.baseurl }}/bower_components/interphase/css/style-xlarge.css',
				containers: 1200
			},
			large: {
				media: '(max-width: 1280px)',
				href: '{{ site.baseurl }}/bower_components/interphase/css/style-large.css',
				containers: 960,
				grid: { gutters: ['1.5em', 0] },
				viewport: { scalable: false }
			},
			medium: {
				media: '(max-width: 980px)',
				href: '{{ site.baseurl }}/bower_components/interphase/css/style-medium.css',
				containers: '90%'
			},
			small: {
				media: '(max-width: 736px)',
				href: '{{ site.baseurl }}/bower_components/interphase/css/style-small.css',
				containers: '90%',
				grid: { gutters: ['1.25em', 0] }
			},
			xsmall: {
				media: '(max-width: 480px)',
				href: '{{ site.baseurl }}/bower_components/interphase/css/style-xsmall.css',
			}
		},
		plugins: {
			layers: {
				config: {
					mode: 'transform'
				},
				navPanel: {
					animation: 'pushX',
					breakpoints: 'medium',
					clickToHide: true,
					height: '100%',
					hidden: true,
					html: '<div data-action="moveElement" data-args="nav"></div>',
					orientation: 'vertical',
					position: 'top-left',
					side: 'left',
					width: 250
				},
				navButton: {
					breakpoints: 'medium',
					height: '4em',
					html: '<span class="toggle" data-action="toggleLayer" data-args="navPanel"></span>',
					position: 'top-left',
					side: 'top',
					width: '6em'
				}
			}
		}
	});

	$(function() {

		// ...

	});

})(jQuery);
	</script>
	<noscript>
	
		<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/interphase/css/skel.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/interphase/css/style.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/bower_components/interphase/css/style-xlarge.css" />
	</noscript>
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/bower_components/interphase/css/ie/v8.css" /><![endif]-->