<!-- One -->
	<section id="one" class="wrapper style1 align-center">
		<div class="container">
			<header>
				<h2>Consectetur adipisicing elit</h2>
				<p>Lorem ipsum dolor sit amet adipisicing elit. Delectus consequatur sed tempus.</p>
			</header>
			<div class="row 200%">
				{% for service in site.services %}
				<section class="4u 12u$(small)">
					<i class="icon big rounded {{ service.icon }}"></i>
					<p>{{ service.short_description }}</p>
				</section>
				{% endfor %}
			</div>
		</div>
	</section>